outputs/iOS/anabatucada.xcframework/ios-arm64/libgodot.a filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada.xcodeproj filter=lfs diff=lfs merge=lfs -text
outputs/iOS/libgodot_camera.visionos.debug.xcframework filter=lfs diff=lfs merge=lfs -text
outputs/iOS/PrivacyInfo.xcprivacy filter=lfs diff=lfs merge=lfs -text
outputs/iOS/TestPlan.xctestplan filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada.pck filter=lfs diff=lfs merge=lfs -text
outputs/iOS/libgodot_camera.visionos.release.xcframework filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada.xcframework/ios-arm64_x86_64-simulator/libgodot.a filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada.xcodeproj/xcshareddata/xcschemes/anabatucada.xcscheme filter=lfs diff=lfs merge=lfs -text
outputs/iOS/anabatucada.xcodeproj/project.pbxproj filter=lfs diff=lfs merge=lfs -text
outputs/iOS/.DS_Store filter=lfs diff=lfs merge=lfs -text
